@charset "utf-8";
* {
  font-family:Helvetica,Arial,sans-serif;
  
  }
 
p{
font-size:1.1em;}
.wide {
  width: 100%;
}
.bold {
  font-weight: bold;
}
/* text sin desaparecer */
.ui-header .ui-title,.ui-footer .ui-title,.ui-btn-inner,.ui-li-heading,.ui-li .ui-btn-text a.ui-link-inherit,.ui-li-desc {
  overflow: visible;
  white-space: normal;
}
#map {
  width: 100%;
  height: 400px;
  border: 8px solid #ccc;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/*background-form*/
textarea.ui-body-b,input.ui-body-b {
  background-color: white;
}
/*text-form area espacio*/
.ui-field-contain:first-child {
  padding-top: 0;
}
#cincoFotosAparecen{
              width:260px;
			  height:260px;
			  position:relative;
			  top: 20px;
			  margin:auto;
			  
}
div#cincoFotosAparecen img{
             position:absolute;
			 top:2px;
			 left:15px;
}
div.botonReplay{
          width:100px;
          position:relative;
		  top:20px;
          margin:auto;
}
div.presentacion{
         width:200px;
         position:relative;
		 top:30px;
		 margin:auto;
		 overflow:auto;
 }

#panorama{
    width:250px;
	margin: 20px auto;
}
.presentPanorama{
width:65%;
margin:auto;
position:relative;
top:0px;
}
.presentPanorama h3{
text-align:center;
}